/* Typography */
$base-font-size: 1.6em;
$baseline: $base-font-size*1.5;

/* Load Custom Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

$font-1: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2: "Roboto Slab", Georgia, serif;


/* Colors */
$color-background: #8a956e;

$color-text-dark: rgba(35, 31, 37, 0.9);
$color-text-dark-alt: rgba(35, 31, 37, 0.9);

$color-text-light: rgba(250, 250, 250, 0.75);
$color-text-light-alt: rgba(250, 250, 250, 0.75);

$color-link: #4183C4;
$color-link-hover: #333;