/* Compass */
/* Utilities - should be loaded first */
/* Typography */
/* Load Custom Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
/* Colors */
.border-top { border-top: 2px solid rgba(250, 250, 250, 0.75); }

/* Base */
body { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.6em; line-height: 2.4em; color: rgba(35, 31, 37, 0.9); }

a { color: rgba(35, 31, 37, 0.9); }

/* Layout */
header { margin-top: 2.4em; }
header .banner { padding: 4.8em 0; }
header .banner .tagline { display: inline-block; padding: 0 3px; }
header .banner .lead { max-width: 75%; }

/* Modules */
.navbar .logo { font-size: 1.3em; line-height: 2.4em; font-family: "Roboto Slab", Georgia, serif; font-weight: 700; }
.navbar .navbar-nav li { display: inline; margin-left: 1.5em; }
.navbar .navbar-nav li .navbar-link { font-size: 14px; text-decoration: none; }
.navbar .navbar-nav li .navbar-link:hover { text-decoration: none; }

/* Theme */
header .banner .tagline { font-family: "Roboto Slab", Georgia, serif; font-weight: 700; }
header .banner .lead { font-size: 1.3em; }

footer { font-size: 0.9em; }
