.navbar {

	
	.logo {
		font-size: 1.3em;
		line-height: 2.4em; // ensures logo is aligned with navigation
		font-family: $font-2;
		font-weight: 700;
	}

	.navbar-nav {

		li {
			display: inline;
			margin-left: 1.5em;

			.navbar-link {
				font-size: 14px;
				text-decoration: none;
			}

			.navbar-link:hover {
				text-decoration: none;
			}
		}

	}

}